videoplayback.m4a
temp_audio.wav
transcription.txt
skilful-earth-436119-q3-675a22d52306.json
ME PERDI EN EL MAR CON MI VECINO!.m4a
R6 Veronica Rivera.m4a
R6 Veronica Rivera.txt
Directo Agte Gerena en supresion.txt
Directo Agte Gerena en supresion.MP3
Interrogatorio padre de Rey Oquendo.txt
Interrogatorio padre de Rey Oquendo.mp3
config.json
src/deprecated/convert.py
src/deprecated/googleDiarization.py
src/deprecated/googleTranscribe.py
SoundScribe.spec
build/SoundScribe/Analysis-00.toc
build/SoundScribe/base_library.zip
build/SoundScribe/EXE-00.toc
build/SoundScribe/PKG-00.toc
build/SoundScribe/PYZ-00.pyz
build/SoundScribe/PYZ-00.toc
build/SoundScribe/SoundScribe.pkg
build/SoundScribe/warn-SoundScribe.txt
build/SoundScribe/xref-SoundScribe.html
build/SoundScribe/localpycs/pyimod01_archive.pyc
build/SoundScribe/localpycs/pyimod02_importers.pyc
build/SoundScribe/localpycs/pyimod03_ctypes.pyc
build/SoundScribe/localpycs/pyimod04_pywin32.pyc
build/SoundScribe/localpycs/struct.pyc
dist/SoundScribe.exe
src\__pycache__
src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/assemblyTranscribe.cpython-310.pyc
src/__pycache__/config_manager.cpython-310.pyc
src/__pycache__/convert.cpython-310.pyc
src/__pycache__/fileutils.cpython-310.pyc
src/__pycache__/googlediarization.cpython-310.pyc
src/__pycache__/googleTranscribe.cpython-310.pyc
src/__pycache__/mainlogic.cpython-310.pyc
src/__pycache__/transcribe.cpython-310.pyc
src/__pycache__/windowGUI.cpython-310.pyc
src/__pycache__/windowUtils.cpython-310.pyc
distributablecommand.md
src/__pycache__/relabel.cpython-310.pyc
FastTranscript.spec
build/FastTranscript/Analysis-00.toc
build/FastTranscript/base_library.zip
build/FastTranscript/EXE-00.toc
build/FastTranscript/FastTranscript.pkg
build/FastTranscript/PKG-00.toc
build/FastTranscript/PYZ-00.pyz
build/FastTranscript/PYZ-00.toc
build/FastTranscript/warn-FastTranscript.txt
build/FastTranscript/xref-FastTranscript.html
build/FastTranscript/localpycs/pyimod01_archive.pyc
build/FastTranscript/localpycs/pyimod02_importers.pyc
build/FastTranscript/localpycs/pyimod03_ctypes.pyc
build/FastTranscript/localpycs/pyimod04_pywin32.pyc
build/FastTranscript/localpycs/struct.pyc
dist/FastTranscript.exe
